body {
    background-color: rgb(85, 26, 139);
}

a {
    text-decoration: none;
}

.h-transition {
    position: absolute;
    top: 0;
    left: 5%;
    width: 21%;
    height: 100px;
    float: left;
    display: flex;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(24, 23, 51);
}

#logo {
    position: absolute;
    left: 5%;
    width: 90%;
    height: 100px;
    float: left;
}

    #logo img {
        position: absolute;
        margin-top: 10px;
        margin-left: 15px;
        float: left;
    }

    #logo h1 {
        position: absolute;
        top: 0;
        margin-left: 75px;
        font-size: 40px;
        font-family: 'Cambria Math';
        color: white;
        float: left;
    }

.anim {
    display: flex;
    flex-grow: 1;
    width: 5%;
    height: 0px;
    -webkit-transition: height .1s;
    -webkit-transition-property: height;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
}

#left {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #c35a0f;
    float: left;
}

#right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b11d1d;
    float: right;
}

.h-transition:hover div {
    height: 100px;
}

#topnav {
    position: absolute;
    top: 0;
    left: 26%;
    width: 69%;
    height: 40px;
    float: left;
    background-color: rgb(24, 23, 51);
}

#follow {
    margin-left: 10px;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    font-family: Calibri;
    font-weight: bold;
    float: left;
}

#social {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.soc {
    margin-left: 15px;
}

.men {
    position: absolute;
    top: 40px;
    left: 26%;
    width: 69%;
    height: 60px;
    float: left;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: rgb(85, 26, 139);
}

    .men li {
        width: 16.7%;
        list-style: none;
        float: left;
    }

        .men li a {
            position: relative;
            width: 100%;
            height: 60px;
            float: left;
            display: block;
            color: white;
            line-height: 60px;
            z-index: 0;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            -webkit-transition: .5s;
            box-sizing: border-box;
        }

            .men li a span {
                position: absolute;
                width: 25%;
                height: 100%;
                float: left;
                background-color: rgb(24, 23, 51);
                z-index: -1;
                transform-origin: top;
                transform: scaleY(0);
                -webkit-transition: transform .5s;
            }

            .men li a:hover {
                color: #fff;
                text-decoration: none;
            }

                .men li a:hover span {
                    transform-origin: bottom;
                    transform: scaleY(1);
                }

            .men li a span:nth-child(1) {
                left: 0;
                -webkit-transition-delay: 0s;
            }

            .men li a span:nth-child(2) {
                left: 25%;
                -webkit-transition-delay: 0.15s;
            }

            .men li a span:nth-child(3) {
                left: 50%;
                -webkit-transition-delay: 0.3s;
            }

            .men li a span:nth-child(4) {
                left: 75%;
                -webkit-transition-delay: 0.45s;
            }

#hr1 {
    position: absolute;
    top: 92px;
    left: 5%;
    height: 2px;
    background-color: white;
    width: 90%;
    border: none;
}

.tab {
    position: absolute;
    left: 5%;
    top: 110px;
    width: 90%;
    color: rgb(85, 26, 139);
}
table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    width:100%;
}

th {
    background: rgb(24, 23, 51);
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: rgb(85, 26, 139);
}

.result-table__item{
    text-align:left;
    align-items: left;
    justify-content: left;
    align-content: left;
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 10px;
}

    th:last-child {
        border-top-right-radius: 10px;
        border-right: none;
    }

td {
    padding: 10px 20px;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}

tr td:last-child {
    border-right: none;
}
.gr {
    background-color: lightgreen;
}
.y {
    background-color: yellow;
}
.w {
    background-color: white;
}
.r {
    background-color: #fa6969;
}
footer {
    bottom: 0;
    width: 90%;
    height: 500px;
}

.footer p {
    color: white;
    font-size: 50px;
    font-family: 'Monotype Corsiva';
}

.footer h1 {
    color: white;
    font-size: 60px;
    font-family: 'Monotype Corsiva';
    border-bottom: 5px solid #8ef271;
}

#inf {
    position: absolute;
    top: 0px;
    left: 4%;
    width: 40%;
}

#info {
    position: absolute;
    top: 70px;
    left: 4%;
}

#clock {
    position: absolute;
    top: 70px;
    left: 60%;
}

#myTimer {
    position: absolute;
    top: 390px;
    left: 60%;
    border: none;
    color: white;
    font-size: 50px;
    font-family: 'Monotype Corsiva';
    background: none;
}

#act {
    position: absolute;
    top: 0px;
    left: 60%;
}

#tim {
    position: absolute;
    top: 200px;
    left: 60%;
}

.topbutton {
    width: 50px;
    height: 50px;
    border: 3px solid rgb(85, 26, 139);
    background-color: rgb(24, 23, 51);
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 50px;
    right: 7%;
    cursor: pointer;
    border-radius: 28px;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    -khtml-border-radius: 28px;
}
